script(src='./js/dataTables.rowReorder.min.js')
script(src='./js/dataTables.stateRestore.min.js')
script(src='./js/jquery-ui.js')

script.

    /************ Variables ************/

    const COLUMNA_BOTON = 8;

    let dataTablePorEliminarConfig = {
        language: dataTable_CL,
        paging: false,
        rowReorder: {
            dataSrc: 'ranking'
        },
        stateSave: true,
        searching: false,
        info: false,
        columns: [
            {data: 'ranking'},
            {data: 'conductor'},
            {data: 'porteador'},
            {data: 'n_retiros_mes'},
            {data: 'n_presentaciones_mes'},
            {data: 'n_retiros_hoy'},
            {data: 'n_presentaciones_hoy'},
            {data: 'hora_ingreso'},
        ],
        columnDefs: [
            { orderable: true, className: 'reorder', targets: 0 },
            { orderable: false, targets: '_all' },
            {
                targets: 7,
                render: DataTable.render.datetime()
            },
            {  
                targets: COLUMNA_BOTON,
                render: function (data, type, row, meta) {
                    return `
                    <input type="button" 
                        class="eliminar btn btn-danger btn-sm"
                        style="height: 20px; padding-top: 1px; font-size: 0.95em;"
                        value="Eliminar"/>`;
                },
                visible: false
            }
        ],
        createdRow: function( row, data, dataIndex ) {
            if (data['por_eliminar'] === true) {
                $(row).addClass('strikeout');
            }
        }
    }

    let dataTableRankingConfig = {
        language: dataTable_CL,
        paging: false,
        rowReorder: {
            dataSrc: 'ranking'
        },
        stateSave: true,
        searching: false,
        info: false,
        columns: [
            {data: 'ranking'},
            {data: 'conductor'},
            {data: 'porteador'},
            {data: 'n_retiros_mes'},
            {data: 'n_presentaciones_mes'},
            {data: 'n_retiros_hoy'},
            {data: 'n_presentaciones_hoy'},
            {data: 'hora_ingreso'},
        ],
        columnDefs: [
            { orderable: true, className: 'reorder', targets: 0 },
            { orderable: false, targets: '_all' },
            {
                targets: 7,
                render: DataTable.render.datetime()
            },
            {  
                targets: COLUMNA_BOTON,
                render: function (data, type, row, meta) {
                    return `
                    <input type="button" 
                        class="eliminar btn btn-danger btn-sm"
                        style="height: 20px; padding-top: 1px; font-size: 0.95em;"
                        value="Eliminar"/>`;
                },
                visible: false
            }
        ],
        createdRow: function( row, data, dataIndex ) {
            if (data['n_presentaciones_hoy'] > 0) {
                $(row).addClass('bg-success text-white');
            }
        }
    }

    var eliminados = [];
    var conductoresObj = {};
    var canEdit = false;
    var saveState;

    /***********************************/

    /************** Utils **************/

    function calcDeltaRanking(dataRow) {
        return dataRow['ranking'] - dataRow['ranking_original'];
    }

    function generateConductorSelectOption(conductorData) {
        let newOption = document.createElement('option');

        newOption.text = conductorData['nombre'];
        newOption.value = conductorData['usu_rut'];
        newOption.setAttribute('data-tipo', conductorData['tipo']);
        $('#conductorSelect').append(newOption);
    }

    function formatConductores(conductoresData) {
        let formattedData = {};
        for (let datosFila of conductoresData) {
            formattedData[datosFila['nombre']] = {
                rut: datosFila['usu_rut'],
                tipo: datosFila['tipo'],
            }
            if (datosFila['tipo'] === 'PROPIO') {
                console.log(datosFila['nombre']);
            }
            generateConductorSelectOption(datosFila);
        }
        return formattedData;
    }

    function clearForm() {
        $('#formularioIngreso').find('input, textarea, select').each(function() {
            if($(this).is(':checkbox') || $(this).is(':radio')) {
                $(this).prop('checked', false);
            } else if($(this).is('select')) {
                $(this).prop('selectedIndex', 0);
            } else if($(this).is(':submit')) {
                console.log(this);
            } else {
                $(this).val('');
            }
        });
    }

    function initializeTables() {
        fetchRankings().then(data => {
            console.log("data:", data);
            let tablaPropios = $('#tablaPropios').DataTable(dataTableRankingConfig);
            tablaPropios.rows.add(data.propios).draw();
            tablaPropios.rowReorder.disable();

            let tablaAsociados = $('#tablaAsociados').DataTable(dataTableRankingConfig);
            tablaAsociados.rows.add(data.asociados).draw();
            tablaAsociados.rowReorder.disable();

            console.log(data.por_eliminar);
            let tablaPorEliminar = $('#tablaPorEliminar').DataTable(dataTablePorEliminarConfig);
            tablaPorEliminar.rows.add(data.por_eliminar).draw();
            tablaPorEliminar.rowReorder.disable();

            $('#tablaPropios tbody ').on('click', '.eliminar', function (event) {
                toggleForDeletion(this);
            });
        
            $('#tablaAsociados tbody ').on('click', '.eliminar', function (event) {
                toggleForDeletion(this);
            });

            $('#botonEditar').on('click', function (event) {
                toggleEdit(tablaPropios, tablaAsociados);
            });

            $('#botonEditar').prop('disabled', false);

            $('#botonConfirmar').on('click', function (event) {
                console.log('Confirmado!');
                confirmarCambios(tablaPropios.data().toArray(), tablaAsociados.data().toArray());
            });
        })
    }

    function refreshTables() {
        fetchRankings().then(data => {
            let tablaPropios = $('#tablaPropios').DataTable();
            tablaPropios.clear();
            tablaPropios.rows.add(data.propios).draw();

            let tablaAsociados = $('#tablaAsociados').DataTable();
            tablaAsociados.clear();
            tablaAsociados.rows.add(data.asociados).draw();
            
            let tablaPorEliminar = $('#tablaPorEliminar').DataTable();
            tablaPorEliminar.clear();
            tablaPorEliminar.rows.add(data.por_eliminar).draw();
        });
    }

    /***********************************/

    function enviarCambios(reordenados, eliminados) {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '/mantenedor/cambios',
                method: 'POST',
                data: { reordenados: reordenados, eliminados: eliminados },
                success: function(response) {
                    // console.log(response);
                    resolve(response);
                },
                error: function(xhr, status, error) {
                    // Handle error
                    console.error('Error submitting form:', error);
                    reject(error);
                }
            });
        });
    }

    function confirmarCambios(propios, asociados) {
        let cambios = [];

        console.log("propios:", propios);
        console.log("asociados:", asociados);
        for (let dataRow of propios) {
            dataRow['delta_ranking'] = calcDeltaRanking(dataRow);
            if (dataRow['delta_ranking'] != 0) {
                dataRow['orden_original'] = dataRow['orden'];

                let dataRow_2 = propios[dataRow['ranking'] - 1];
                if (dataRow_2.hasOwnProperty('orden_original')) {
                    dataRow['orden'] = propios[dataRow['ranking'] - 1]['orden_original'];
                } else {
                    dataRow['orden'] = propios[dataRow['ranking'] - 1]['orden'];
                }
                cambios.push(dataRow);
            }
        }

        for (let dataRow of asociados) {
            dataRow['delta_ranking'] = calcDeltaRanking(dataRow);
            if (dataRow['delta_ranking'] != 0) {
                dataRow['orden_original'] = dataRow['orden'];

                let dataRow_2 = asociados[dataRow['ranking'] - 1];
                if (dataRow_2.hasOwnProperty('orden_original')) {
                    dataRow['orden'] = asociados[dataRow['ranking'] - 1]['orden_original'];
                } else {
                    dataRow['orden'] = asociados[dataRow['ranking'] - 1]['orden'];
                }
                cambios.push(dataRow);
            }
        }

        console.log("cambios", cambios);
        console.log("eliminados", eliminados);

        if (cambios.length == 0 && eliminados.length == 0) {
            Swal.fire({
                text: 'No hay cambios que guardar',
                icon: 'warning'
            })
        } else {
            Swal.fire({
                title: '¿Estás Seguro?',
                text: 'Se guardarán tus cambios',
                icon: 'question',
                showCancelButton: true,
                showLoaderOnConfirm: true,
                preConfirm: async() => {
                    try {
                        $('#botonEditar').prop('disabled', true);
                        $('#botonConfirmar').prop('disabled', true);
                        $.ajax({
                            url: '/mantenedor/cambios',
                            method: 'POST',
                            data: { reordenados: cambios, porEliminar: eliminados },
                            success: function(response) {
                                // console.log(response);
                                return response.json();
                            },
                            error: function(xhr, status, error) {
                                // Handle error
                                console.error('Error submitting form:', error);
                            }
                        });
                    } catch (error) {
                        console.log(error);
                        Swal.showValidationMessage(`
                            Hubo un problema guardando los cambios.
                        `);
                    }
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.isConfirmed) {
                    refreshTables();
                    $('#botonEditar').prop('disabled', false);
                    $('#botonConfirmar').prop('disabled', false);
                    toggleEdit($('#tablaPropios').DataTable(), $('#tablaAsociados').DataTable());
                    Swal.fire({
                        title: 'Cambios Guardados',
                        icon: 'success',
                        text: 'Se han guardado los cambios correctamente.'
                    });
                }
            })
        }
    }

    function toggleForDeletion(buttonElem) {
        let button = $(buttonElem);

        let row = button.closest("tr");
        let table = button.closest("table");
        let dataTable = table.DataTable();
        let rowData = dataTable.row(row).data();
        // let removedRanking = rowData.ranking;

        let willDelete = rowData.por_eliminar;
        if (!willDelete) {
            Swal.fire({
                title: 'Confirmar',
                text: '¿Desea marcar esta fila para eliminación?',
                showCancelButton: true,
            }).then(result => {
                if (result.isConfirmed) {
                    buttonElem.value = 'Cancelar';
                    button.toggleClass('btn-warning btn-danger');
                    row.toggleClass('strikeout');
                    rowData.por_eliminar = !willDelete;
                    eliminados.push(rowData);
                    /*
                    console.log("iniciar proceso de eliminacion");
                    eliminados.push(rowData);
                    let ordenBuffer;
                    let ordenOld = rowData.orden;
                    dataTable.row(row).remove().draw(false);
                    dataTable.rows().every(function(rowIdx, tableLoop, rowLoop) {
                        let data = this.data();
                        if (data.ranking > removedRanking) {
                            ordenBuffer = data.orden;
                            console.log(data);
                            // ademas del ranking, actualizamos el orden
                            data.ranking = data.ranking - 1;
                            data.ranking_original = data.ranking_original - 1;
                            // guardamos el orden actual en buffer
                            ordenBuffer = data.orden;
                            // reemplazamos el orden por el antiguo
                            data.orden = ordenOld;
                            // el antiguo ahora es el que estaba en data
                            ordenOld = ordenBuffer;
                            this.data(data);
                        }
                    });
                    dataTable.draw();
                    */
                }
            })
        } else {
            buttonElem.value = 'Eliminar';
            button.toggleClass('btn-warning btn-danger');
            row.toggleClass('strikeout');
            rowData.por_eliminar = !willDelete;
        }
    }

    function toggleEdit(tablaPropios, tablaAsociados) {
        canEdit = !canEdit;
        let botonEditar = $('#botonEditar');
        let botonConfirmar = $('#botonConfirmar');

        tablaPropios.column(COLUMNA_BOTON).visible(canEdit);
        tablaAsociados.column(COLUMNA_BOTON).visible(canEdit);
        botonEditar.toggleClass('btn-warning btn-danger');
        botonConfirmar.toggleClass('btn-secondary btn-success');
        botonConfirmar.prop('disabled', !canEdit);

        if (canEdit) {
            botonEditar.text('CANCELAR EDICIÓN');
            tablaPropios.rowReorder.enable();
            tablaAsociados.rowReorder.enable();
        } else {
            refreshTables();
            botonEditar.text('EDITAR LISTA');
        }
    }

    function getConductores() {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '/conductores',
                method: 'GET',
                data: {},
                success: function(response) {
                    let formattedResponse = formatConductores(response);
                    resolve(formattedResponse);
                },
                error: function(xhr, status, error) {
                    // Handle error
                    console.error('Error enviando datos:', error);
                    reject(error);
                }
            });
        });
    }

    // document.ready
    $(function() {
        getConductores().then(data => {
            conductoresObj = data;
            $(function () {
                $("#conductorText").autocomplete({
                    open: function() {
                        $('.ui-autocomplete').css({
                            'z-index': 10000,
                            'font-size': '0.68em',
                            'min-width': '180px',
                            'width': 'fit-content',
                            'max-height': '50vh',
                            'overflow-y': 'auto',
                            'overflow-x': 'clip',
                        });
                    },
                    source: Object.keys(conductoresObj),
                    select: function( event, ui ) {
                        $("#conductorSelect").val(conductoresObj[ui.item.label].rut);
                    }
                });
            });

            $('#conductorSelect').prop('disabled', false);
            $('#conductorText').prop('disabled', false);
            $('#porteador').prop('disabled', false);
            $('#submit').prop('disabled', false);
        });

        initializeTables();

        $('#formularioIngreso').on("submit", function(event) {
            // Prevent the form from submitting in the traditional manner
            event.preventDefault();
            $('#submit').prop('disabled', true);

            // Verificación de datos
            if (!Object.keys(conductoresObj).includes($('#conductorText').val())) {
                Swal.fire({
                    text: 'Verifique los datos ingresados',
                    icon: 'error'
                })
                $('#submit').prop('disabled', false);
                return;
            }

            Swal.fire({
                text: '¿Estás seguro de ingresar estos datos?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: "Enviar",
                showLoaderOnConfirm: true,
                preConfirm: async () => {
                    try {
                        var formData = serializeToObject($('#formularioIngreso'));
                        // Add 'data-tipo' information, as serialize() does not include it
                        formData['tipo'] = $('#conductorSelect option:selected').data('tipo');

                        $.ajax({
                            url: '/conductores/add',
                            method: 'POST',
                            data: formData,
                            success: function(response) {
                                // Handle successful response
                                console.log('Form submitted successfully:', response);
                            },
                            error: function(xhr, status, error) {
                                // Handle error
                                Swal.fire({
                                    text: 'Ha ocurrido un error enviando los datos.',
                                    icon: 'error'
                                })
                            }
                        });
                        $('#submit').prop('disabled', false);
                    } catch (error) {
                        Swal.showValidationMessage(`
                            Ha ocurrido un error enviando los datos
                        `);
                    }
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        text: 'Se han ingresado los datos correctamente.',
                        icon: 'success'
                    })
                    clearForm();
                    refreshTables();
                }
            })
        });

        $('#conductorSelect').on("change", function() {
            if ($(this).val() != '-1') {
                $('#conductorText').val($(this).find('option:selected').text());
            }
        });
    });